# Flutter
**/.dart_tool/
**/.packages
mobile/build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Next.js
web/node_modules/
web/.next/
web/out/
web/.env*.local

# Common
*.iml
.idea/
.vscode/
.DS_Store
